<div class="user-profile">
    <div class="profile-text">
        <mat-list>
            <h3 mat-subheader style="color: #E8EFF7">Perfil</h3>
            <mat-list-item>
                <mat-icon mat-list-icon>person</mat-icon>
                <h4 mat-line>Admin</h4>
                <p mat-line> Conexión </p>
                <a mat-line [matMenuTriggerFor]="sdprofile">
                    Markarn Doe

                </a>
            </mat-list-item>

            <mat-divider></mat-divider>
        </mat-list>



    </div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Settings </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu>

</div>
<mat-nav-list appAccordion *ngFor="let menuitem of _sidebar.menu">
    <div *ngIf="menuitem.type === 'admin'">

        <mat-expansion-panel  class="dark-sidebar pl-xs example-sidenav"  [expanded]="step === 1" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                        <h3 mat-subheader style="color: #E8EFF7">{{menuitem.titulo}}</h3>
                </mat-panel-title>
                <mat-panel-description>
                    
                </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-list-item appAccordionLink *ngFor="let submenu of menuitem.submenu">
                    <a class="" appAccordionToggle [routerLink]="['/', submenu.state]">
                        <mat-icon mat-list-icon>{{ submenu.icon }}</mat-icon>
                        <span mat-line>{{ submenu.name }}</span>
                        <span fxFlex></span>
                        <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
                    </a>
                </mat-list-item>
        </mat-expansion-panel>
   
        
    </div>
</mat-nav-list>
